.whatsapp_float {
  width: 60px;
  height: 60px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 2;
}

.whatsapp-icon {
  margin-top: 16px;
}

.email-icon, .whatsapp-icon_div, .facebook, .linkedin, .twitter {
  transition: transform 0.3s ease-in-out;
}

.email-icon:hover, .whatsapp-icon_div:hover, .facebook:hover, .linkedin:hover, .twitter:hover {
  transform: scale(1.1); /* Increase the scale on hover */
}

.email-icon.hovered, .whatsapp-icon_div.hovered, .facebook.hovered, .linkedin.hovered, .twitter.hovered {
  transform: scale(1.1); /* Keep the scale if the user is still hovering */
}

/* for mobile */
@media screen and (max-width: 767px) {
  .whatsapp-icon {
    margin-top: 10px;
  }

  .whatsapp_float {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 10px;
    font-size: 22px;
  }
}
