.houseItem {
    grid-template-columns: repeat(3, 1fr);
}

.overlay-info {
    position: absolute;
    background: whitesmoke;
    height: 100px;
    width: 250px;
    color: black;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    left: 25%;
    top: 0;
    z-index: 5;
}