.houseItem {
    grid-template-columns: repeat(3, 1fr);
}

.overlay-info {
    position: absolute;
    background: grey;
    height: 600px;
    width: 600px;
    color: black;
    padding: 2rem 5px 5px 5px;
    border: 1px solid #000;
    border-radius: 5px;
    left: 25%;
    top: 0;
    z-index: 1;
    display: none;
    opacity: 1;
}

.show-overlay {
    display: grid;
}